**/*.log
**/*.aux
**/*.lof
**/*.lot
**/*.out
**/*.synctex.gz
**/*.toc
.obsidian

IoT/Batbot/batbot/.gitignore
IoT/Batbot/batbot/.pio
IoT/Batbot/batbot/.vscode/.browse.c_cpp.db*
IoT/Batbot/batbot/.vscode/c_cpp_properties.json
IoT/Batbot/batbot/.vscode/launch.json
IoT/Batbot/batbot/.vscode/ipch
IoT/Batbot/batbot/**/*.md